:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#container {
    display: block;
    border: 1px solid red;
    width: 60px;
    height: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container:hover #menu {
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu:hover::before {
    left: 0;
    top: -20px;
    transform-origin: left top;
    transform: rotate(45deg);
}

#menu::before {
    left: 0;
    top: -20px;
    transition: transform 1s;
}

#menu:hover::after {
    left: 0;
    top: 20px;
    transform-origin: left bottom;
    transform: rotate(-45deg);
}

#menu::after {
    left: 0;
    top: 20px;
    transition: transform 1s;
}
