:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#container {
    content: "";
    display: block;
    /*border: 1px solid red;*/
    width: 60px;
    height: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container:hover #menu {
    background-color: transparent;
    transition: all 250ms ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    content: "";
    display: block;
    transform-origin: left bottom;
    transform: rotate(0deg);
    left: 0;
    top: -20px;
    transition: transform 250ms linear;
}

#container:hover #menu::before {
    transform-origin: left bottom;
    transform: rotate(45deg);
    top: -23px;
    left: 5px;
}

#menu::after {
    content: "";
    display: block;
    transform: rotate(0deg);
    left: 0;
    top: 20px;
    transform-origin: left top;
    transition: transform 250ms linear;
}

#container:hover #menu::after {
    transform-origin: left top;
    transform: rotate(-45deg);
    top: 23px;
    left: 5px;
}
